/* =====================
   Active Nav Item
===================== */

.active-nav {
    background: color-mix(
        in srgb,
        var(--p-primary-color),
        var(--p-content-background) 85%
    ) !important;

    border: 1px solid color-mix(
        in srgb,
        var(--p-primary-color),
        transparent 60%
    );

    .nav-icon {
        color: var(--p-primary-color) !important;
    }

    .nav-label {
        color: var(--p-primary-color) !important;
    }

    .nav-description {
        color: var(--p-text-color) !important;
        opacity: 0.85 !important;
    }
}


/* =====================
   Hover Nav Item
===================== */

.nav-item:not(.active-nav):hover {
    background: var(--p-content-hover-background) !important;

    .nav-label {
        color: var(--p-text-hover-color) !important;
    }

    .nav-icon {
        color: var(--p-primary-color) !important;
    }
}


/* =====================
   Responsive Scrollbar
===================== */

@media (max-width: 768px) {
    nav::-webkit-scrollbar {
        height: 2px;
    }

    nav::-webkit-scrollbar-thumb {
        background: var(--p-primary-color);
        border-radius: 1px;
    }
}
